fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-groq
python-dotenv
chromadb
transformers
torch
pdfminer.six
pypdf
python-multipart
langdetect
deep-translator
requests
sse-starlette